/* default style of icon to close a tab */
.x-tab-default .x-tab-close-btn {
    top: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    background: url(images/tab-default-close.png) 0 0  !important;
}
.x-tab-default-top.x-tab-focus{
    box-shadow:none !important;
}